body {
	font-family: Arial, sans-serif;
  margin: 50px;
}

.product-card {
	margin-right: 30px;
  width: 250px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card img {
	margin-top: 25px;
  padding: 10px;
}

.product-card p {
	font-weight: bold;
	color: lightslategrey;
  text-align: center;
}

.product-card span {
  color: rgba(5, 4, 4, 0.795);
  font-weight: bold;
  font-size: larger;
	padding-bottom: 10px;
}

.product-card h3 {
  font-size:x-large;
}

#container {
	display: flex;
	flex-wrap: wrap;
}

.product-card button {
  margin-top: 20px;
	background-color: #1996c7;
	color: #fff;
	padding: 15px 30px;
  border-radius: 0px 0px 10px 10px;
	cursor: pointer;
  border: none;
  width: 250px;
  font-size: larger;
}


.stars i {
	color: black;
	font-size: 20px;
	cursor: pointer;
}

.stars i.active {
	color: #ff9c1a;
}




